In [1]:
import pandas as pd

## Load Data

In [2]:
results = pd.read_csv('./..//data/epl_results_2022-23.csv')
teams = pd.read_csv('./../data/epl_clubs_info_2022-23.csv')

## Exploratory Data Analysis

In [3]:
results.head(5)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,2,2,16,11,3,5,1,2,0,0
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,3,4,7,9,4,4,2,0,0,0
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,3,2,18,16,5,5,3,3,0,0
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,4,6,13,9,6,4,2,0,0,0
4,E0,06/08/2022,15:00,Newcastle,Nottingham,2,0,H,0,0,...,10,0,9,14,11,1,0,3,0,0

In [7]:
results.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF',
       'HC', 'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [16]:
teams['club_name'].to_list()

['Arsenal',
 'Aston Villa',
 'Bournemouth',
 'Brentford',
 'Brighton',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Leeds',
 'Leicester',
 'Liverpool',
 'Man City',
 'Man United',
 'Newcastle',
 'Nottingham',
 'Southampton',
 'Tottenham',
 'West Ham',
 'Wolves']